Repository shin-sforzando/pingo: changes, and which lefthook commands are due for each by the changed paths.
All: check, test, i18n, build

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

pre-commit:
  commands:
    hide:
      run: git secret hide -mF
      stage_fixed: true
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    test:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npm run test:once -- --no-coverage
    i18n:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npm run check:i18n
    build:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npm run build

post-merge:
  commands:
    reveal:
      interactive: true
      run: git secret reveal -v
    install:
      run: npm install --legacy-peer-deps

feat: :+1: add redirect message for non-participating users and update translations
  CLAUDE.md
  messages/en.json
  messages/ja.json
  src/app/game/[gameId]/components/JoinPrompt.tsx
  src/app/game/[gameId]/hooks/useGameData.ts
  src/app/game/[gameId]/page.tsx
Due: check, test, i18n, build

feat: :+1: enhance game participation checks and update UI for joining games
  .vscode/settings.json
  CLAUDE.md
  messages/en.json
  messages/ja.json
  src/app/api/subjects/check/route.test.ts
  src/app/game/[gameId]/page.tsx
  src/app/game/[gameId]/share/page.tsx
  src/app/game/join/page.tsx
Due: check, test, i18n, build

feat: :+1: add participating games list and fetch functionality
  messages/en.json
  messages/ja.json
  src/app/game/join/page.browser.test.tsx
  src/app/game/join/page.tsx
  src/components/layout/UserMenu.tsx
Due: check, test, i18n, build

feat: :+1: add analysis response schema and improve image check handling
  .vscode/settings.json
  src/app/api/image/check/route.ts
Due: check, test, i18n, build

refactor: :bulb: game joining logic to use transaction service
  repomix-output.xml
  src/app/api/game/[gameId]/join/route.test.ts
  src/app/api/game/[gameId]/join/route.ts
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

feat: :+1: implement custom hook for fetching participating games
  src/app/api/game/[gameId]/join/route.test.ts
  src/app/api/game/[gameId]/join/route.ts
  src/app/game/join/page.tsx
  src/components/layout/UserMenu.stories.tsx
  src/components/layout/UserMenu.tsx
  src/hooks/useParticipatingGames.ts
Due: check, test, i18n, build

refactor: :recycle: game participation logic and introduce custom hooks
  CLAUDE.md
  src/app/game/[gameId]/hooks/useGameData.ts
  src/app/game/[gameId]/page.tsx
  src/app/game/[gameId]/share/page.tsx
  src/app/game/join/page.tsx
  src/hooks/useAuthenticatedFetch.test.ts
  src/hooks/useAuthenticatedFetch.ts
  src/hooks/useGameJoin.test.ts
  src/hooks/useGameJoin.ts
  src/hooks/useGameParticipation.test.ts
  src/hooks/useGameParticipation.ts
Due: check, test, i18n, build

test: :100: add tests for useGameData hook and mock API responses
  .vscode/settings.json
  src/app/game/[gameId]/hooks/useGameData.test.ts
Due: check, test, i18n, build

refactor: :recycle: translation keys for consistency across game components
  .claude/settings.local.json
  .serena/memories/coding_conventions.md
  messages/en.json
  messages/ja.json
  src/app/game/[gameId]/components/GameHeader.tsx
  src/app/game/[gameId]/page.tsx
  src/app/game/[gameId]/share/page.tsx
  src/components/game/GameInfo.tsx
  src/components/game/ImageUpload.tsx
  src/components/game/ParticipantsList.tsx
  src/components/game/SubmissionResult.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/LanguageSwitcher.tsx
  src/components/layout/NotificationDrawer.tsx
  src/components/layout/UserMenu.tsx
  src/stories/example/LocalizedHeading.tsx
Due: check, test, i18n, build

docs: :notebook: code structure for improved readability and maintainability
  .claude/settings.local.json
  .serena/memories/codebase_structure.md
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  docs/Progress.md
  docs/ProjectBrief.md
  docs/TechnicalSpecification.md
  repomix-output.xml
Due: check, i18n

refactor: :recycle: improve code consistency and clarity in documentation
  .serena/memories/codebase_structure.md
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  CLAUDE.md
  docs/Archived_20250610.md
  docs/FirstPlot.md
  docs/Progress.md
  messages/en.json
  messages/ja.json
  src/app/game/join/page.tsx
  src/components/game/GameInfo.stories.tsx
  src/lib/firebase/admin-collections.ts
  src/types/schema.ts
Due: check, test, i18n, build

refactor: :recycle: improve translation structure and simplify participation logic
  .serena/memories/current_status_priorities.md
  src/app/api/game/[gameId]/join/route.test.ts
  src/app/api/game/[gameId]/join/route.ts
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

feat: :+1: enhance game participation flow and UI components
  .claude/settings.local.json
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  src/app/api/game/public/route.ts
  src/app/game/[gameId]/page.tsx
  src/app/game/join/page.tsx
  src/components/game/GameInfoCard.browser.test.tsx
  src/components/game/GameInfoCard.stories.tsx
  src/components/game/GameInfoCard.tsx
  src/components/layout/UserMenu.tsx
  src/hooks/useParticipatingGames.test.ts
  src/hooks/useParticipatingGames.ts
  src/types/schema.ts
Due: check, test, i18n, build

feat: :+1: implement game ID constants and improve validation logic
  .repomixignore
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  CLAUDE.md
  messages/en.json
  messages/ja.json
  repomix-output.xml
  src/app/api/game/create/route.ts
  src/app/game/[gameId]/page.tsx
  src/app/game/join/page.tsx
  src/components/game/GameInfo.stories.tsx
  src/components/game/GameInfoCard.tsx
  src/lib/constants.ts
Due: check, test, i18n, build

chore: :paperclip: update dependencies and improve image upload functionality
  .claude/settings.local.json
  package-lock.json
  package.json
  repomix-output.xml
Due: check, i18n

feat: :+1: add user login check before joining game and update stories
  .dockerignore
  .repomixignore
  .vscode/settings.json
  repomix-output.xml
  src/app/game/[gameId]/page.stories.tsx
  src/app/game/[gameId]/share/page.tsx
  src/app/game/create/page.stories.tsx
  src/app/game/join/page.stories.tsx
  vitest.config.mts
Due: check, test, i18n, build

feat: :+1: improve mock fetch handling for game and participant APIs
  src/app/game/[gameId]/share/page.stories.tsx
  src/components/layout/UserMenu.stories.tsx
Due: check, test, i18n, build

feat: :+1: add bilingual critique support for image submissions
  .serena/memories/codebase_structure.md
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  lefthook.yml
  repomix-output.xml
  src/app/api/game/[gameId]/submission/[submissionId]/route.test.ts
  src/app/api/game/[gameId]/submission/[submissionId]/route.ts
  src/app/api/game/[gameId]/submission/analyze/route.test.ts
  src/app/api/game/[gameId]/submission/analyze/route.ts
  src/app/api/game/[gameId]/submission/route.test.ts
  src/app/api/game/[gameId]/submission/route.ts
  src/app/api/image/check/route.test.ts
  src/app/api/image/check/route.ts
  src/app/game/[gameId]/page.stories.tsx
  src/app/game/[gameId]/page.tsx
  src/components/game/SubmissionResult.browser.test.tsx
  src/components/game/SubmissionResult.stories.tsx
  src/components/game/SubmissionResult.tsx
  src/lib/cell-utils.ts
  src/services/image-upload.ts
  src/types/game.ts
  src/types/schema.ts
  vitest.config.mts
Due: check, test, i18n, build

wip: :construction: Update Gemini model and thinking budget configuration
  .claude/settings.local.json
  repomix-output.xml
  src/app/api/game/[gameId]/submission/analyze/route.ts
  src/app/api/image/check/route.new.ts
  src/app/api/image/check/route.ts
  src/app/api/subjects/check/route.ts
  src/app/api/subjects/generate/route.ts
  src/lib/cell-utils.test.ts
  src/lib/constants.ts
  vitest.config.mts
Due: check, test, i18n, build

refactor: :bulb: image check API to improve appropriateness validation and error handling
  .claude/settings.local.json
  .serena/memories/codebase_structure.md
  .serena/memories/current_status_priorities.md
  biome.json
  repomix-output.xml
  src/app/api/game/[gameId]/submission/analyze/route.test.ts
  src/app/api/game/[gameId]/submission/analyze/route.ts
  src/app/api/game/[gameId]/submission/route.test.ts
  src/app/api/game/[gameId]/submission/route.ts
  src/app/api/image/check/route.new.ts
  src/app/api/image/check/route.test.ts
  src/app/api/image/check/route.ts
  src/app/api/subjects/check/route.test.ts
  src/app/api/subjects/check/route.ts
  src/app/api/subjects/generate/route.ts
  src/components/game/BingoCell.tsx
  src/components/ui/calendar.tsx
  src/services/image-upload.ts
  src/types/schema.ts
  vitest.config.mts
Due: check, test, i18n, build

fix: :bug: mark matchedCellId as nullable in response schema
  src/app/api/game/[gameId]/submission/analyze/route.ts
Due: check, test, i18n, build

feat: :+1: add optional appropriateness check for subjects in CreateGamePage
  messages/en.json
  messages/ja.json
  repomix-output.xml
  src/app/game/create/page.tsx
  src/components/game/ImageUpload.tsx
Due: check, test, i18n, build

feat: :+1: Implement skip check features for game creation and image submission
  .serena/memories/codebase_structure.md
  .serena/memories/current_status_priorities.md
  messages/en.json
  messages/ja.json
  repomix-output.xml
  src/app/api/game/create/route.test.ts
  src/app/api/game/create/route.ts
  src/app/api/image/check/route.test.ts
  src/app/api/image/check/route.ts
  src/app/game/create/page.tsx
  src/services/image-upload.ts
  src/types/game.ts
  src/types/schema.ts
Due: check, test, i18n, build

chore: :paperclip: Update knip and lefthook to latest versions
  CLAUDE.md
  package-lock.json
  package.json
Due: check, i18n

docs: :memo: Update documentation for Firebase and deployment processes
  CLAUDE.md
  README.md
Due: none

feat: :+1: Implement shuffle feature for bingo game boards
  .claude/settings.local.json
  .serena/memories/codebase_structure.md
  .serena/memories/coding_conventions.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  CLAUDE.md
  README.md
  lefthook.yml
  messages/en.json
  messages/ja.json
  package.json
  repomix-output.xml
  src/app/api/game/[gameId]/playerBoard/[userId]/route.test.ts
  src/app/api/game/[gameId]/submission/route.test.ts
  src/app/api/game/[gameId]/submission/route.ts
  src/app/api/game/create/route.ts
  src/app/game/[gameId]/hooks/useGameData.ts
  src/app/game/[gameId]/page.tsx
  src/app/game/create/page.tsx
  src/lib/board-utils.test.ts
  src/lib/board-utils.ts
  src/lib/firebase/admin-collections.ts
  src/test/helpers/api-test-helpers.ts
  src/test/helpers/game-test-helpers.ts
  src/types/game.ts
  src/types/schema.ts
  vitest.config.mts
  vitest.global-setup.ts
Due: check, test, i18n, build

refactor: :bulb: Enforce exact cell count in player and game board schemas
  src/app/api/subjects/generate/route.ts
  src/lib/board-utils.ts
  src/test/helpers/api-test-helpers.ts
  src/types/schema.ts
Due: check, test, i18n, build

fix: :bug: Update error code for player board not found in submission route
  lefthook.yml
  repomix-output.xml
  src/app/api/game/[gameId]/submission/route.ts
Due: check, test, i18n, build

refactor: :bulb: Replace hardcoded values with constants for bingo board
  repomix-output.xml
  src/app/api/game/[gameId]/submission/route.ts
  src/app/game/[gameId]/page.stories.tsx
  src/app/game/[gameId]/share/page.stories.tsx
  src/app/game/create/page.tsx
  src/components/game/BingoBoard.stories.tsx
  src/components/game/BingoBoard.tsx
  src/components/game/BingoCell.stories.tsx
  src/lib/board-utils.test.ts
  src/lib/board-utils.ts
  src/lib/constants.ts
Due: check, test, i18n, build

feat: :+1: Add bingo game logic and tests for line detection
  .serena/memories/coding_conventions.md
  package.json
  repomix-output.xml
  src/app/api/game/[gameId]/submission/route.ts
  src/lib/bingo-logic.test.ts
  src/lib/bingo-logic.ts
Due: check, test, i18n, build

chore: :paperclip: add shadcn dependency and MCP server
  .claude/settings.local.json
  .mcp.json
  package-lock.json
  package.json
  repomix-output.xml
Due: check, i18n

fix: :bug: add refreshUser function to AuthContext for user data synchronization
  biome.json
  package-lock.json
  package.json
  src/app/game/create/page.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useGameJoin.test.ts
  src/hooks/useGameJoin.ts
Due: check, test, i18n, build

test: :100: Mock AuthContext
  .serena/memories/coding_conventions.md
  repomix-output.xml
  src/app/game/create/page.browser.test.tsx
  src/hooks/useAuthenticatedFetch.test.ts
  src/hooks/useGameParticipation.test.ts
  src/hooks/useParticipatingGames.test.ts
  src/test/helpers/auth-test-helpers.ts
Due: check, test, i18n, build

fix: :bug: update error handling for refreshUser in useGameJoin tests
  repomix-output.xml
  src/hooks/useGameJoin.test.ts
Due: check, test, i18n, build

chore: :paperclip: remove debug log references from documentation
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  .serena/memories/task_completion_checklist.md
  CLAUDE.md
  docs/Progress.md
  repomix-output.xml
Due: none

docs: :notebook: update README and add Pingo利用規約 document
  README.md
  docs/pingo-service-terms.txt
  repomix-output.xml
Due: none

chore: :paperclip: update dependencies in package.json
  .claude/settings.local.json
  biome.json
  package-lock.json
  package.json
  repomix-output.xml
Due: check, i18n

feat: :+1: Add terms page
  .serena/memories/codebase_structure.md
  .serena/memories/coding_conventions.md
  .serena/memories/coding_conventions_advanced.md
  .serena/memories/coding_conventions_basics.md
  .serena/memories/coding_conventions_i18n.md
  .serena/memories/coding_conventions_react.md
  .serena/memories/coding_conventions_testing.md
  .serena/memories/coding_conventions_typescript.md
  .storybook/main.ts
  messages/en.json
  messages/ja.json
  repomix-output.xml
  src/app/game/join/page.stories.tsx
  src/app/terms/page.stories.tsx
  src/app/terms/page.tsx
Due: check, test, i18n, build

test: :100: Add TermsPageContent component and tests for terms page
  repomix-output.xml
  src/app/terms/content.tsx
  src/app/terms/page.browser.test.tsx
  src/app/terms/page.stories.tsx
  src/app/terms/page.tsx
Due: check, test, i18n, build

feat: :+1: implement "how to play"
  .serena/memories/coding_conventions_advanced.md
  .serena/memories/coding_conventions_testing.md
  messages/en.json
  messages/ja.json
  public/images/howtoplay/00-register.png
  public/images/howtoplay/00-top-page-before-login.png
  public/images/howtoplay/01-top-page-after-login.png
  public/images/howtoplay/02-create-game-empty.png
  public/images/howtoplay/03-create-game-with-subjects.png
  public/images/howtoplay/04-game-share-page.png
  public/images/howtoplay/05-bingo-board.png
  public/images/howtoplay/06-image-selected.png
  public/images/howtoplay/07-image-accepted.png
  public/images/howtoplay/08-image-rejected.png
  public/images/howtoplay/09-bingo-achieved.png
  repomix-output.xml
  src/app/api/game/[gameId]/submission/analyze/route.test.ts
  src/app/api/game/[gameId]/submission/analyze/route.ts
  src/app/api/game/[gameId]/submission/route.test.ts
  src/app/game/[gameId]/hooks/useGameData.test.ts
  src/app/game/[gameId]/page.stories.tsx
  src/app/game/[gameId]/share/page.stories.tsx
  src/app/page.browser.test.tsx
  src/app/page.tsx
  src/components/game/BingoBoard.stories.tsx
  src/components/game/BingoCell.stories.tsx
  src/components/game/SubmissionResult.stories.tsx
  src/components/layout/NotificationDrawer.tsx
  src/lib/cell-utils.test.ts
  src/lib/cell-utils.ts
Due: check, test, i18n, build
