Repository shin-sforzando/pingo: changes, and which lefthook commands are due for each by the changed paths.
All: check, test

lefthook.yml:

#   Refer for explanation to following link:
#   https://lefthook.dev/configuration/

pre-commit:
  commands:
    hide:
      run: git secret hide -mF
      stage_fixed: true
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    test:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npm test

post-merge:
  commands:
    reveal:
      run: git secret reveal -v
    install:
      run: npm install

feat: :+1: update environment configuration and remove unused Docker Compose
  .dockerignore
  .env
  docker-compose.yml
Due: none

feat: :+1: update Docker build script and remove Firebase API key from health check
  package.json
  scripts/docker-build.ts
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
Due: check, test

feat: :+1: update environment variable loading for clarity and structure
  vitest.setup.ts
Due: check, test

chore: :paperclip: update secret files and mapping configuration for clarity
  .env.local.secret
  .gitsecret/paths/mapping.cfg
  pingo-456817-ddc416f0394a.json.secret
  pingo-456817-firebase-adminsdk-fbsvc-94b63a9da5.json.secret
Due: none

feat: :+1: improve private key handling and simplify Docker build command
  scripts/docker-build.ts
  src/lib/firebase/admin.ts
Due: check, test

fix: :bug: correct private key environment variable handling and update Docker run command
  Dockerfile
  scripts/docker-build.ts
  src/lib/firebase/admin.ts
Due: check, test

fix: :bug: update private key handling and improve Docker build command
  scripts/docker-build.ts
  src/lib/firebase/admin.ts
Due: check, test

wip: :construction: Implement Bingo game components
  cline_docs/Progress.md
  messages/en.json
  messages/ja.json
  package-lock.json
  package.json
  src/app/game/new/page.tsx
  src/components/game/BingoBoard.stories.tsx
  src/components/game/BingoBoard.tsx
  src/components/game/BingoCell.stories.tsx
  src/components/game/BingoCell.tsx
  src/components/game/GameCreationPreview.stories.tsx
  src/components/game/GameCreationPreview.tsx
  src/components/game/SubjectItem.stories.tsx
  src/components/game/SubjectItem.tsx
  src/components/game/SubjectList.stories.tsx
  src/components/game/SubjectList.tsx
Due: check, test

feat: :+1: use faker for generating sample subjects in stories
  src/app/game/new/page.tsx
  src/components/game/BingoBoard.stories.tsx
  src/components/game/BingoCell.stories.tsx
  src/components/game/GameCreationPreview.stories.tsx
  src/components/game/SubjectItem.stories.tsx
  src/components/game/SubjectList.stories.tsx
Due: check, test

chore: :paperclip: update dependencies and modify storybook command
  package-lock.json
  package.json
Due: check

feat: :+1: Implement game creation features and improve UI components
  cline_docs/Archived_20250514.md
  cline_docs/Progress.md
  messages/en.json
  messages/ja.json
  src/app/api/auth/me/route.ts
  src/app/game/new/page.tsx
  src/components/game/GameCreationPreview.tsx
  src/components/game/SubjectItem.tsx
  src/components/game/SubjectList.tsx
  src/contexts/AuthContext.tsx
  src/middleware.ts
  src/types/schema.ts
Due: check, test

fix: :bug: Improve error handling and accessibility for subject requirements
  src/app/game/new/page.tsx
Due: check, test

feat: :+1: add notification system and user menu enhancements
  cline_docs/FirstPlot.md
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  messages/en.json
  messages/ja.json
  package-lock.json
  package.json
  src/components/layout/Header.tsx
  src/components/layout/NotificationDrawer.tsx
  src/components/layout/NotificationIcon.stories.tsx
  src/components/layout/NotificationIcon.tsx
  src/components/layout/UserMenu.stories.tsx
  src/components/layout/UserMenu.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/tabs.tsx
Due: check, test

feat: :+1: add accessibility improvements and tests for NotificationIcon and UserMenu
  src/components/layout/Header.browser.test.tsx
  src/components/layout/NotificationIcon.browser.test.tsx
  src/components/layout/NotificationIcon.tsx
  src/components/layout/UserMenu.browser.test.tsx
  vitest.config.mts
Due: check, test

feat: :+1: add "use client" directive to multiple game components
  src/components/game/BingoBoard.tsx
  src/components/game/BingoCell.tsx
  src/components/game/GameCreationPreview.tsx
  src/components/game/SubjectItem.tsx
  src/components/game/SubjectList.tsx
Due: check, test

docs: :notebook: update documents and dependencies
  cline_docs/FirstPlot.md
  cline_docs/TechnicalSpecification.md
  package.json
Due: check

chore: :paperclip: update dependecies
  package-lock.json
Due: check

feat: :+1: integrate Google GenAI for subject generation API
  .clinerules
  .vscode/settings.json
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
  src/app/api/subjects/generate/route.test.ts
  src/app/api/subjects/generate/route.ts
Due: check, test

feat: :+1: implement subjects check API with validation and AI integration
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  src/app/api/subjects/check/route.test.ts
  src/app/api/subjects/check/route.ts
  src/app/api/subjects/generate/route.test.ts
  src/app/api/subjects/generate/route.ts
Due: check, test

feat: :+1: add dynamic DnD context wrapper and improve subject generation UI
  .vscode/settings.json
  README.md
  messages/en.json
  messages/ja.json
  src/components/game/DndContextWrapper.tsx
  src/components/game/SubjectList.tsx
Due: check, test

feat: :+1: delete /game/new and GameCreationPreview for reimplement
  messages/en.json
  messages/ja.json
  src/app/game/new/page.tsx
  src/components/game/GameCreationPreview.stories.tsx
  src/components/game/GameCreationPreview.tsx
  src/components/game/SubjectItem.stories.tsx
  src/components/game/SubjectItem.tsx
  src/components/game/SubjectList.stories.tsx
  src/components/game/SubjectList.tsx
Due: check, test

feat: :+1: add game creation API and related tests with Firestore integration
  .vscode/settings.json
  cline_docs/TechnicalSpecification.md
  src/app/api/game/create/route.test.ts
  src/app/api/game/create/route.ts
  src/lib/firebase/collections.ts
  src/test/helpers/game-test-helpers.ts
  src/types/firestore.ts
Due: check, test

feat: :+1: enhance game creation API with detailed error handling and response
  src/app/api/game/create/route.ts
Due: check, test

chore: :paperclip: update dependencies
  README.md
  package-lock.json
  package.json
Due: check

feat: :+1: rename aiResponse to critique and add memo field in submissions
  cline_docs/FirstPlot.md
  cline_docs/TechnicalSpecification.md
  src/types/game.ts
  src/types/schema.ts
Due: check, test

docs: :notebook: add Vitest Browser Mode documentation and examples
  .vscode/settings.json
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/assertion-api.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/commands.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/config.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/context.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/index.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/interactivity-api.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/locators.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/multiple-setups.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/playwright.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/webdriverio.md
  cline_docs/dependent library docs/Vitest Browser Mode (Version 20250521)/why.md
  lefthook.yml
  messages/en.json
  messages/ja.json
  package-lock.json
  package.json
  src/app/api/subjects/check/route.ts
  src/app/api/subjects/generate/route.ts
  src/app/game/create/page.browser.test.tsx
  src/app/game/create/page.tsx
  src/app/globals.css
  src/components/game/SubjectItem.tsx
  src/components/magicui/shine-border.tsx
  src/components/ui/calendar.tsx
  src/components/ui/switch.tsx
  src/components/ui/textarea.tsx
  src/contexts/AuthContext.tsx
Due: check, test

feat: :+1: add Storybook setup with mocked fetch and Firebase auth
  src/app/game/create/page.stories.tsx
Due: check, test

feat: :+1: enhance game creation screen and add Storybook for ShineBorder
  cline_docs/Progress.md
  src/components/magicui/ShineBorder.stories.tsx
Due: check, test

feat: :+1: improve candidate generation by removing duplicates and enhancing tests
  cline_docs/Progress.md
  src/app/game/create/page.browser.test.tsx
  src/app/game/create/page.stories.tsx
  src/app/game/create/page.tsx
Due: check, test

feat: :+1: add browser setup file and import global CSS for tests
  src/app/game/create/page.browser.test.tsx
  vitest.browser.setup.ts
  vitest.config.mts
Due: check, test

feat: :+1: improve HomePage with game action buttons and add browser tests
  cline_docs/Progress.md
  src/app/page.browser.test.tsx
  src/app/page.tsx
Due: check, test

feat: :+1: update dependencies
  README.md
  lefthook.yml
  package-lock.json
  package.json
Due: check

feat: :+1: add descriptions for game creation fields and subject usage
  src/app/game/create/page.tsx
  src/components/game/SubjectList.tsx
Due: check, test

fix: :bug: downgrade react-day-picker to version 8.10.1 for compatibility
  package-lock.json
  package.json
Due: check

fix: :bug: use --legacy-peer-deps flag for npm ci to resolve dependency issues
  Dockerfile
Due: none

feat: :+1: update Firebase environment variables and improve Docker run command
  .vscode/settings.json
  Dockerfile
  cline_docs/Progress.md
  package-lock.json
  package.json
  scripts/docker-build.ts
  src/app/globals.css
Due: check, test

feat: :+1: add QRCodeCard component and integrate qrcode.react library
  package-lock.json
  package.json
  src/app/globals.css
  src/components/game/QRCodeCard.stories.tsx
  src/components/game/QRCodeCard.tsx
Due: check, test

feat: :+1: add middleware for request headers and implement share page
  .env
  Dockerfile
  middleware.ts
  src/app/game/[gameId]/share/page.tsx
  src/components/game/InfoCard.tsx
  src/components/game/QRCodeCard.stories.tsx
  src/components/game/QRCodeCard.tsx
  src/components/ui/badge.tsx
  src/lib/constants.ts
  src/lib/utils.ts
  src/services/game.ts
Due: check, test

feat: :+1: add middleware for request headers and implement share page
  messages/en.json
  messages/ja.json
  src/app/api/game/[gameId]/board/route.ts
  src/app/api/game/[gameId]/participants/route.ts
  src/app/api/game/[gameId]/route.ts
  src/app/game/[gameId]/share/page.stories.tsx
  src/app/game/[gameId]/share/page.tsx
Due: check, test

feat: :+1: refactor SharePage to use next/navigation
  src/app/game/[gameId]/share/page.stories.tsx
  src/app/game/[gameId]/share/page.tsx
Due: check, test
