Repository shin-sforzando/pingo: changes, and which lefthook commands are due for each by the changed paths.
All: check, test, i18n, build

check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test:
  run: npm run test:once -- --no-coverage

i18n:
  run: npm run check:i18n

build:
  run: npm run build

feat: :+1: add HyperText component for animated loading
  package-lock.json
  src/app/game/[gameId]/share/page.tsx
  src/app/game/create/page.tsx
  src/app/loading.stories.tsx
  src/app/loading.tsx
  src/components/magicui/hyper-text.stories.tsx
  src/components/magicui/hyper-text.tsx
Due: check, test, i18n, build

feat: :+1: implement game ID validation and improve data handling
  src/app/api/game/[gameId]/board/route.ts
  src/app/api/game/[gameId]/participants/route.ts
  src/app/api/game/[gameId]/route.ts
  src/app/game/[gameId]/share/page.stories.tsx
  src/app/game/[gameId]/share/page.tsx
  src/app/game/create/page.tsx
  src/components/game/QRCodeCard.tsx
  src/lib/api-utils.ts
  src/services/game.ts
Due: check, test, i18n, build

docs: :notebook: improve data transformation and validation, enhance SharePage UI
  cline_docs/Progress.md
Due: none

chore: :paperclip: update dependencies to latest versions
  README.md
  package-lock.json
  package.json
Due: check, i18n

feat: :+1: implement image upload API and client-side component
  .clinerules
  messages/en.json
  messages/ja.json
  src/app/api/image/check/route.test.ts
  src/app/api/image/check/route.ts
  src/app/api/image/getUploadUrl/route.test.ts
  src/app/api/image/getUploadUrl/route.ts
  src/components/game/ImageUpload.browser.test.tsx
  src/components/game/ImageUpload.stories.tsx
  src/components/game/ImageUpload.tsx
  src/lib/image-utils.test.ts
  src/lib/image-utils.ts
Due: check, test, i18n, build

feat: :+1: implement image upload functionality with Google Cloud Storage integration
  Dockerfile
  README.md
  cors.json
  next.config.ts
  package-lock.json
  package.json
  src/app/api/image/upload/route.ts
  src/app/debug/image-upload/page.tsx
  src/components/game/ImageUpload.browser.test.tsx
  src/components/game/ImageUpload.stories.tsx
  src/components/game/ImageUpload.tsx
  src/lib/image-utils.test.ts
  src/lib/image-utils.ts
  src/services/image-upload.ts
  src/types/schema.ts
  tsconfig.build.json
Due: check, test, i18n, build

chore: :paperclip: update .env.local
  .env.local.secret
  .gitsecret/paths/mapping.cfg
  pingo-456817-ddc416f0394a.json.secret
  pingo-456817-firebase-adminsdk-fbsvc-94b63a9da5.json.secret
Due: none

feat: :+1: enhance image upload functionality with HEIC support and size increase
  cline_docs/Progress.md
  messages/en.json
  messages/ja.json
  src/app/api/image/getUploadUrl/route.ts
  src/app/api/image/upload/route.ts
  src/components/game/ImageUpload.tsx
  src/lib/image-utils.test.ts
  src/lib/image-utils.ts
  src/services/image-upload.ts
Due: check, test, i18n, build

feat: :+1: add initial configuration for Repomix and ignore patterns
  .repomixignore
  repomix.config.json
  src/lib/firebase/admin.ts
Due: check, test, i18n, build

feat: :+1: add Google Cloud Storage bucket argument and update dependencies
  Dockerfile
  README.md
  lefthook.yml
  package-lock.json
  package.json
  src/app/api/image/check/route.ts
  src/app/api/image/upload/route.ts
  src/app/debug/image-upload/page.tsx
  src/components/game/ImageUpload.tsx
  src/lib/image-utils.test.ts
  src/lib/image-utils.ts
Due: check, test, i18n, build

refactor: :bulb: refactor code structure for improved readability and maintainability
  .gitignore
  .vscode/settings.json
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  repomix-output.xml
  src/app/api/image/check/route.test.ts
  src/app/api/image/check/route.ts
  src/app/api/subjects/check/route.ts
  src/app/api/subjects/generate/route.ts
Due: check, test, i18n, build

feat: :+1: add GEMINI_API_KEY support and update dependencies
  .vscode/settings.json
  Dockerfile
  README.md
  cloudbuild.yaml
  package-lock.json
  package.json
  scripts/docker-build.ts
Due: check, test, i18n, build

feat: :+1: implement game logic api
  public/images/effects/bingo.png
  public/images/effects/clear.png
  public/images/effects/ng.png
  public/images/effects/ok.png
  src/app/api/game/[gameId]/playerBoard/[userId]/route.test.ts
  src/app/api/game/[gameId]/playerBoard/[userId]/route.ts
  src/app/api/game/[gameId]/submission/route.test.ts
  src/app/api/game/[gameId]/submission/route.ts
Due: check, test, i18n, build

feat: :+1: add submission API with GET and PUT methods for game submissions
  src/app/api/game/[gameId]/submission/[submissionId]/route.test.ts
  src/app/api/game/[gameId]/submission/[submissionId]/route.ts
Due: check, test, i18n, build

fix: :bug: standardize error codes to uppercase for consistency
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/me/route.test.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.ts
  src/app/api/game/[gameId]/playerBoard/[userId]/route.test.ts
  src/app/api/game/[gameId]/playerBoard/[userId]/route.ts
  src/app/api/game/[gameId]/submission/[submissionId]/route.ts
  src/app/api/game/[gameId]/submission/route.ts
Due: check, test, i18n, build

refactor: :bulb: game submission and event APIs to reuse schemas and improve validation
  .repomixignore
  repomix-output.xml
  src/app/api/game/[gameId]/events/route.test.ts
  src/app/api/game/[gameId]/events/route.ts
  src/app/api/game/[gameId]/playerBoard/[userId]/route.ts
  src/app/api/game/[gameId]/route.test.ts
  src/app/api/game/[gameId]/route.ts
  src/app/api/game/[gameId]/submission/[submissionId]/route.ts
  src/app/api/game/create/route.ts
  src/app/api/health/route.ts
  src/app/api/image/getUploadUrl/route.ts
  src/types/firestore.ts
  src/types/schema.ts
Due: check, test, i18n, build

feat: :+1: add user authentication and game participant verification
  src/app/api/game/[gameId]/events/route.ts
Due: check, test, i18n, build

feat: :+1: add timestamp conversion utility for game creation API
  repomix-output.xml
  src/app/api/game/create/route.ts
Due: check, test, i18n, build

chore: :paperclip: code changes to enhance functionality and improve performance
  README.md
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
  repomix-output.xml
Due: check, i18n

fix: :bug: update gameId for ImageUpload component and clean up test setup
  src/app/debug/image-upload/page.tsx
  vitest.browser.setup.ts
  vitest.config.mts
Due: check, test, i18n, build

fix: :bug: update check command in lefthook.yml to use npm script
  lefthook.yml
Due: none

feat: :+1: add AuthGuard component and enhance authentication handling
  src/app/game/create/page.browser.test.tsx
  src/app/game/create/page.tsx
  src/components/auth/AuthGuard.tsx
  src/contexts/AuthContext.tsx
  src/test/helpers/auth-test-helpers.ts
Due: check, test, i18n, build

refactor: :recycle: API responses to include success status and data payload
  messages/en.json
  messages/ja.json
  repomix-output.xml
  src/app/api/game/[gameId]/board/route.ts
  src/app/api/game/[gameId]/participants/route.ts
  src/app/api/game/[gameId]/route.ts
  src/app/debug/image-upload/page.tsx
  src/components/game/ImageUpload.tsx
  src/lib/image-utils.ts
  src/services/game.ts
  src/services/image-upload.ts
  src/types/schema.ts
Due: check, test, i18n, build

refactor: :recycle: API routes to use Admin services for data access
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.ts
  src/app/api/game/[gameId]/board/route.ts
  src/app/api/game/[gameId]/events/route.ts
  src/app/api/game/[gameId]/participants/route.ts
  src/app/api/game/[gameId]/playerBoard/[userId]/route.ts
  src/app/api/game/[gameId]/route.ts
  src/app/api/game/[gameId]/submission/[submissionId]/route.ts
  src/app/api/game/[gameId]/submission/route.ts
  src/app/api/game/create/route.ts
  src/app/game/[gameId]/share/page.tsx
  src/app/game/create/page.tsx
  src/components/game/BingoBoard.stories.tsx
  src/components/game/BingoBoard.tsx
  src/components/layout/UserMenu.tsx
  src/lib/firebase/admin-collections.ts
  src/lib/firebase/admin.ts
Due: check, test, i18n, build

refactor: :recycle: remove Firestore client-side collections and related tests for user and notification converters
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
  repomix-output.xml
  src/lib/firebase/collections.test.ts
  src/lib/firebase/collections.ts
Due: check, test, i18n, build

feat: :+1: add knip configuration and integrate knip into scripts
  .vscode/settings.json
  knip.json
  lefthook.yml
  package-lock.json
  package.json
Due: check, i18n

refactor: :recycle: standardize error codes to uppercase across authentication APIs
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/me/route.test.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/register/route.test.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.test.ts
  src/app/api/auth/update/route.ts
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

fix: :bug: update lastLoginAt and updatedAt to use timestamp format
  .repomixignore
  repomix-output.xml
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

feat: :+1: update dependencies
  README.md
  package-lock.json
  package.json
  repomix-output.xml
Due: check, i18n

feat: :+1: add GameInfo and ParticipantsList components with stories and tests
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/assertion-api.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/commands.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/config.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/context.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/index.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/interactivity-api.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/locators.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/multiple-setups.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/playwright.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/webdriverio.md
  cline_docs/DependentLibraryDocs/VitestBrowserMode_v20250601/why.md
  messages/en.json
  messages/ja.json
  src/app/api/game/[gameId]/submission/analyze/route.ts
  src/components/game/GameInfo.stories.tsx
  src/components/game/GameInfo.tsx
  src/components/game/ParticipantsList.stories.tsx
  src/components/game/ParticipantsList.tsx
  src/components/game/SubmissionResult.browser.test.tsx
  src/components/game/SubmissionResult.stories.tsx
  src/components/game/SubmissionResult.tsx
  src/types/schema.ts
Due: check, test, i18n, build

feat: :+1: implement GameInfo and ParticipantsList components with image analysis API
  cline_docs/Progress.md
  repomix-output.xml
Due: none

chore: :paperclip: update dependencies and scripts in package.json
  cline_docs/Progress.md
  package-lock.json
  package.json
Due: check, i18n

chore: :pencil: update ignore patterns and remove unused files from repo
  .repomixignore
  messages/en.json
  messages/ja.json
  package.json
  repomix-output.xml
Due: check, i18n

feat: :+1: add max submissions per user feature and related validations
  messages/en.json
  messages/ja.json
  repomix-output.xml
  src/app/api/game/[gameId]/submission/route.test.ts
  src/app/api/game/[gameId]/submission/route.ts
  src/app/api/game/create/route.ts
  src/app/game/[gameId]/share/page.stories.tsx
  src/app/game/create/page.tsx
  src/components/game/GameInfo.stories.tsx
  src/components/game/SubmissionResult.browser.test.tsx
  src/components/game/SubmissionResult.tsx
  src/lib/firebase/admin-collections.ts
  src/types/game.ts
  src/types/schema.ts
  tsconfig.build.json
Due: check, test, i18n, build

feat: :+1: enhance image submission process with game context and detailed analysis
  cline_docs/Progress.md
  messages/en.json
  messages/ja.json
  package.json
  repomix-output.xml
  src/app/api/image/check/route.test.ts
  src/app/api/image/check/route.ts
  src/app/game/[gameId]/page.tsx
  src/components/game/ImageUpload.tsx
  src/components/game/SubmissionResult.tsx
  src/lib/firebase/admin-collections.ts
  src/services/image-upload.ts
  src/types/game.ts
  src/types/schema.ts
Due: check, test, i18n, build

docs: :notebook: update Progress.md with recent changes and improvements
  cline_docs/Archived_20250610.md
  cline_docs/Progress.md
Due: none

chore: :paperclip: update dependencies
  package-lock.json
  package.json
Due: check, i18n

feat: :+1: add AI analysis messages and improve image check logic
  cline_docs/Progress.md
  package-lock.json
  package.json
  repomix-output.xml
  src/app/api/image/check/route.test.ts
  src/app/api/image/check/route.ts
  src/components/game/ParticipantsList.tsx
Due: check, test, i18n, build

feat: :+1: implement transaction service for atomic submission handling
  cline_docs/Progress.md
  repomix-output.xml
  src/app/api/image/check/route.test.ts
  src/app/api/image/check/route.ts
  src/app/game/[gameId]/page.tsx
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

chore: :paperclip: add initial configuration for coderabbit integration
  .coderabbit.yaml
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  i18n: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  build: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
