Repository shin-sforzando/pingo: changes, and which lefthook commands are due for each by the changed paths.
All: check, test, i18n, build

check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test:
  run: npm run test:once -- --no-coverage

i18n:
  run: npm run check:i18n

build:
  run: npm run build

feat: :+1: update how to play sections and improve UI for better guidance
  .vscode/settings.json
  messages/en.json
  messages/ja.json
  public/images/howtoplay/00-top-page-before-login.png
  repomix-output.xml
  src/app/page.browser.test.tsx
  src/app/page.tsx
Due: check, test, i18n, build

feat: :+1: add accordion component and integrate into HomePage for better UI
  package-lock.json
  package.json
  repomix-output.xml
  src/app/page.browser.test.tsx
  src/app/page.tsx
  src/components/ui/accordion.tsx
Due: check, test, i18n, build

fix: :bug: remove matchedCellId from submissions and update display logic
  messages/en.json
  messages/ja.json
  repomix-output.xml
  src/app/game/[gameId]/page.stories.tsx
  src/app/game/[gameId]/page.tsx
  src/components/game/SubmissionResult.stories.tsx
  src/components/game/SubmissionResult.tsx
Due: check, test, i18n, build

refactor: :bulb: implement StepCard component for improved how-to-play display
  repomix-output.xml
  src/app/page.tsx
  src/components/home/StepCard.stories.tsx
  src/components/home/StepCard.tsx
Due: check, test, i18n, build

feat: :+1: add Google Analytics 4 tracking for user behavior
  .env.local.example
  package-lock.json
  package.json
  src/app/game/[gameId]/page.tsx
  src/app/game/create/page.tsx
  src/app/layout.tsx
  src/components/analytics/GoogleAnalytics.tsx
  src/components/game/ImageUpload.tsx
  src/hooks/useGameJoin.ts
  src/lib/analytics.ts
Due: check, test, i18n, build

feat: :+1: integrate Google Analytics 4 with consent management
  .env
  .env.local.example
  .vscode/settings.json
  package-lock.json
  repomix-output.xml
  src/components/analytics/GoogleAnalytics.test.tsx
  src/components/analytics/GoogleAnalytics.tsx
  src/components/game/ImageUpload.tsx
  src/lib/analytics.test.ts
  src/lib/analytics.ts
Due: check, test, i18n, build

feat: :+1: update dependencies and improve analytics consent handling
  .vscode/settings.json
  biome.json
  package-lock.json
  package.json
  repomix-output.xml
  src/app/api/subjects/check/route.test.ts
  src/components/analytics/GoogleAnalytics.tsx
  src/components/game/ImageUpload.tsx
  src/lib/analytics.ts
Due: check, test, i18n, build

feat: :+1: add cookie consent banner and localization support
  messages/en.json
  messages/ja.json
  repomix-output.xml
  src/app/layout.tsx
  src/app/terms/page.stories.tsx
  src/components/analytics/CookieConsentBanner.stories.tsx
  src/components/analytics/CookieConsentBanner.tsx
  src/components/game/BingoBoard.stories.tsx
  src/components/game/ImageUpload.tsx
Due: check, test, i18n, build

feat: :+1: add analytics components and improve consent management
  .serena/memories/analytics_privacy_patterns.md
  .serena/memories/codebase_structure.md
  .vscode/settings.json
  repomix-output.xml
  src/components/analytics/CookieConsentBanner.tsx
  src/lib/analytics.ts
Due: check, test, i18n, build

feat: :+1: implement custom error classes for image upload and analysis
  .serena/memories/analytics_privacy_patterns.md
  repomix-output.xml
  src/components/analytics/CookieConsentBanner.tsx
  src/components/game/ImageUpload.tsx
  src/lib/analytics.test.ts
  src/services/image-upload.ts
  src/types/errors.test.ts
  src/types/errors.ts
Due: check, test, i18n, build

feat: :+1: update dependencies and improve tests
  .serena/memories/coding_conventions_testing.md
  .serena/memories/current_status_priorities.md
  .vscode/settings.json
  lefthook.yml
  package-lock.json
  package.json
  repomix-output.xml
  src/lib/bingo-logic.test.ts
  vitest.config.mts
Due: check, test, i18n, build

feat: :+1: update permissions for pull requests and issues in workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  repomix-output.xml
Due: none

chore: :paperclip: Update Claude workflows to enforce Japanese comments and guidelines
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: :sparkles: update API keys and configuration files
  .claude/settings.local.json
  .env.local.secret
  .gitsecret/paths/mapping.cfg
  lefthook.yml
  pingo-456817-ddc416f0394a.json.secret
  pingo-456817-firebase-adminsdk-fbsvc-94b63a9da5.json.secret
Due: check, i18n

chore: :paperclip: update lefthook.yml
  .claude/settings.local.json
  lefthook.yml
Due: check, i18n

feat: :sparkles: add game and participant limits to API
  .claude/settings.local.json
  messages/en.json
  messages/ja.json
  src/app/api/game/[gameId]/join/route.ts
  src/app/api/game/create/route.ts
  src/app/api/game/public/route.ts
  src/lib/constants.ts
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

feat: :sparkles: enhance error handling for game join and creation
  src/app/game/create/page.tsx
  src/hooks/useGameJoin.test.ts
  src/hooks/useGameJoin.ts
Due: check, test, i18n, build

feat: :sparkles: add game limits checks and tests for game joining
  src/app/api/game/[gameId]/join/route.test.ts
  src/app/api/game/create/route.test.ts
  src/app/api/game/public/route.test.ts
  src/test/helpers/firebase-test-helpers.ts
Due: check, test, i18n, build

feat: :sparkles: add atomic user game limit checks in game creation
  src/app/api/game/create/route.ts
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

feat: :sparkles: update dependencies in package.json
  biome.json
  package-lock.json
  package.json
Due: check, i18n

feat: :sparkles: implement temporary game creation restrictions
  .claude/settings.local.json
  .serena/memories/current_status_priorities.md
  .serena/memories/suggested_commands.md
  .serena/memories/temporary_restrictions.md
  messages/en.json
  messages/ja.json
  package.json
  scripts/delete-game-data.ts
  src/app/api/subjects/check/route.test.ts
  src/app/api/subjects/check/route.ts
  src/app/game/create/page.stories.tsx
  src/app/game/create/page.tsx
  src/lib/constants.ts
Due: check, test, i18n, build

chore: :paperclip: clean up settings and biome configuration files
  biome.json
Due: check, i18n

fix: :bug: update max games reached error message to use constant
  messages/en.json
  repomix-output.xml
  src/app/game/create/page.tsx
Due: check, test, i18n, build

chore: :paperclip: update dependencies and adjust game restrictions
  .env.local.secret
  .gitsecret/paths/mapping.cfg
  biome.json
  package-lock.json
  package.json
  pingo-456817-ddc416f0394a.json.secret
  pingo-456817-firebase-adminsdk-fbsvc-94b63a9da5.json.secret
  src/app/game/create/page.tsx
  src/app/game/join/page.browser.test.tsx
  src/lib/constants.ts
Due: check, test, i18n, build

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  i18n: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  build: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
