Repository shin-sforzando/pingo: changes, and which lefthook commands are due for each by the changed paths.
All: check, test

check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test:
  run: npm test

feat: :+1: update last login time to use timestamp helper
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/page.tsx
Due: check, test

feat: :+1: add user schema validation for username in login process
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/login/route.ts
Due: check, test

feat: :+1: validate username using schema and improve user authentication flow
  src/app/api/auth/register/route.ts
  src/app/page.browser.test.tsx
  src/lib/firebase/auth.ts
Due: check, test

chore: :memo: add Firebase admin SDK JSON to .gitignore
  .gitignore
Due: none

feat: :+1: update Firebase admin initialization with error handling
  .clinerules
  .vscode/settings.json
  package-lock.json
  package.json
  src/lib/firebase/admin.ts
  src/lib/firebase/client.ts
Due: check, test

feat: :sparkles: add Playwright for E2E testing and update project rules
  .clinerules
  .gitignore
  .vscode/settings.json
  cline_docs/Progress.md
  package-lock.json
  package.json
Due: check

feat: :+1: add Playwright for E2E testing and improve error handling
  .vscode/extensions.json
  e2e/helpers/auth-helper.ts
  e2e/specs/register.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/app/api/auth/check-username/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/update/route.ts
  src/models/User.ts
  src/scripts/cleanupTestData.ts
Due: check, test

chore: :paperclip: update src/scripts/cleanupTestData.ts by coderabbit
  src/scripts/cleanupTestData.ts
Due: check, test

feat: :+1: add type definitions and conversion functions for game and user
  .vscode/settings.json
  cline_docs/TechnicalSpecification.md
  src/scripts/cleanupTestData.ts
  src/types/common.ts
  src/types/firestore.ts
  src/types/game.ts
  src/types/index.ts
  src/types/schema.ts
  src/types/user.ts
Due: check, test

docs: :notebook: update memory bank
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
Due: none

feat: :+1: add archived status to GameStatus and improve timestamp handling
  src/types/common.ts
  src/types/firestore.ts
  src/types/game.ts
  src/types/index.ts
  src/types/schema.ts
  src/types/user.ts
Due: check, test

feat: :+1: implement user authentication flow
  .storybook/decorators.tsx
  .storybook/preview.ts
  messages/en.json
  messages/ja.json
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/me/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.ts
  src/components/auth/LoginForm.stories.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/RegisterForm.stories.tsx
  src/components/auth/RegisterForm.tsx
  src/components/ui/translated-form-message.tsx
  src/contexts/AuthContext.tsx
  src/middleware.ts
  src/types/schema.ts
Due: check, test

feat: :+1: add authentication forms and integrate Radix UI tabs
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/RegisterForm.tsx
  src/components/ui/tabs.tsx
  src/contexts/AuthContext.tsx
  src/types/schema.ts
  src/types/user.ts
Due: check, test

feat: :+1: unify ID format to ULID across the application and update schemas
  .clinerules
  .vscode/settings.json
  cline_docs/FirstPlot.md
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.ts
  src/types/game.ts
  src/types/schema.ts
  src/types/user.ts
  test-update-api.ts
Due: check, test

feat: :+1: enhance mock auth context and update user update API comment
  .storybook/decorators.tsx
  src/app/api/auth/update/route.ts
  test-update-api.ts
Due: check, test

chore: :paperclip: update .env.local
  .env.local.secret
  .gitsecret/paths/mapping.cfg
  pingo-456817-ddc416f0394a.json.secret
  pingo-456817-firebase-adminsdk-fbsvc-94b63a9da5.json.secret
Due: none

test: :100: add comprehensive integration tests for user authentication APIs
  cline_docs/Progress.md
  package-lock.json
  package.json
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/logout/route.test.ts
  src/app/api/auth/me/route.test.ts
  src/app/api/auth/register/route.test.ts
  src/app/api/auth/update/route.test.ts
  src/lib/firebase/admin.test.ts
  src/lib/firebase/admin.ts
  src/scripts/cleanupTestData.ts
  src/test/helpers/api-test-helpers.ts
  src/test/helpers/firebase-test-helpers.ts
  vitest.config.mts
  vitest.setup.ts
Due: check, test

feat: :+1: update API_BASE_URL to use environment variable and enhance headers
  src/test/helpers/api-test-helpers.ts
  vitest.config.mts
  vitest.setup.ts
Due: check, test

feat: :+1: implement Firestore type converters and add tests
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  src/lib/firebase/README.md
  src/lib/firebase/collections.test.ts
  src/lib/firebase/collections.ts
Due: check, test

feat: :sparkles: add Firebase credentials handling in Dockerfile and cloud build
  .vscode/settings.json
  Dockerfile
  cloudbuild.yml
  package.json
Due: check

feat: :+1: add cloudbuild.yaml for Docker build and deployment setup
  cloudbuild.yaml
Due: none

feat: :+1: upgrade Node.js version to 24 and improve private key handling
  Dockerfile
Due: none

feat: :+1: enhance Firebase private key handling for multiple formats
  Dockerfile
  src/lib/firebase/admin.ts
Due: check, test

feat: :+1: downgrade Node.js version to 22 in Dockerfile for compatibility
  Dockerfile
Due: none

feat: :+1: update Firebase private key handling in cloudbuild.yaml
  cloudbuild.yaml
Due: none

feat: :+1: improve Firebase private key handling and debugging in Docker setup
  Dockerfile
  cloudbuild.yaml
Due: none

feat: :+1: improve Firebase private key handling in Docker and Cloud Build
  Dockerfile
  cloudbuild.yaml
Due: none

feat: :+1: streamline Firebase secret handling and Docker build process
  cloudbuild.yaml
Due: none

feat: :+1: refine Firebase private key handling and remove debug logs
  Dockerfile
  cloudbuild.yaml
  src/lib/firebase/admin.ts
Due: check, test

docs: :notebook: enhance Firebase credential handling and Cloud Build documentation
  .clinerules
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
Due: none

feat: :+1: add node version to health check response and tests
  .vscode/settings.json
  Dockerfile
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
Due: check, test

feat: :+1: reorganize Dockerfile build stage for clarity
  Dockerfile
Due: none

feat: :+1: reorder health check variables for improved clarity and consistency
  Dockerfile
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
Due: check, test

feat: :+1: simplify Dockerfile by removing redundant comments and sections
  Dockerfile
Due: none

feat: :sparkles: remove redundant production stage comments in Dockerfile
  Dockerfile
Due: none

feat: :sparkles: reorganize Dockerfile stages for improved clarity and structure
  Dockerfile
Due: none

feat: :sparkles: add Firebase environment variables for production stage
  .vscode/settings.json
  Dockerfile
Due: check

feat: :sparkles: add Firebase environment variables and update health check
  .vscode/settings.json
  Dockerfile
  docker-compose.yml
  src/app/api/health/route.test.ts
  src/app/api/health/route.ts
Due: check, test

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
