Repository shin-sforzando/pingo: changes, and which lefthook commands are due for each by the changed paths.
All: check, test, i18n, build

check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test:
  run: npm run test:once -- --no-coverage

i18n:
  run: npm run check:i18n

build:
  run: npm run build

feat: :+1: implement bingo line detection and participant statistics update
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
  src/app/api/game/[gameId]/participants/route.ts
  src/app/api/image/check/route.ts
  src/components/game/ParticipantsList.tsx
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

chore: :paperclip: update progress documentation and improve image upload notes
  cline_docs/Progress.md
Due: none

feat: :+1: update participant roles and improve submission handling logic
  messages/en.json
  messages/ja.json
  src/components/game/ParticipantsList.tsx
  src/types/game.ts
Due: check, test, i18n, build

chore: :paperclip: update known issues section for user authentication handling
  cline_docs/Progress.md
Due: none

feat: :+1: update shadcn/ui Calendar
  cline_docs/Progress.md
  package-lock.json
  package.json
  repomix-output.xml
  src/app/game/create/page.stories.tsx
  src/components/ui/Calendar.stories.tsx
  src/components/ui/calendar.tsx
Due: check, test, i18n, build

chore: :sparkles: update dependency versions and remove legacy peer deps
  Dockerfile
  README.md
  lefthook.yml
  package-lock.json
  package.json
  repomix-output.xml
Due: check, i18n

feat: :sparkles: add Firebase to prerequisites in README
  README.md
Due: none

feat: :+1: update motion, tailwind-merge, zod, and tsx dependencies
  package-lock.json
  package.json
  repomix-output.xml
Due: check, i18n

feat: :+1: add confetti effects for game completion and line achievements
  .vscode/settings.json
  cline_docs/Progress.md
  repomix-output.xml
  src/app/api/game/[gameId]/submission/analyze/route.ts
  src/app/api/game/[gameId]/submission/route.ts
  src/app/api/image/check/route.ts
  src/app/game/[gameId]/components/ErrorDisplay.tsx
  src/app/game/[gameId]/components/GameHeader.tsx
  src/app/game/[gameId]/hooks/useConfettiEffects.test.ts
  src/app/game/[gameId]/hooks/useConfettiEffects.ts
  src/app/game/[gameId]/hooks/useGameData.ts
  src/app/game/[gameId]/hooks/useImageSubmission.ts
  src/app/game/[gameId]/hooks/usePrevious.ts
  src/app/game/[gameId]/page.tsx
  src/app/game/[gameId]/utils/gameDataTransforms.ts
  src/components/game/ParticipantsList.stories.tsx
  src/components/game/SubmissionResult.tsx
  src/components/magicui/Confetti.stories.tsx
  src/components/magicui/confetti.tsx
  src/components/ui/button.tsx
Due: check, test, i18n, build

refactor: :recycle: confetti effects and enhance logging across game hooks
  cline_docs/Progress.md
  repomix-output.xml
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/logout/route.test.ts
  src/app/api/auth/me/route.test.ts
  src/app/api/auth/register/route.test.ts
  src/app/api/auth/update/route.test.ts
  src/app/api/game/[gameId]/events/route.ts
  src/app/api/game/[gameId]/route.ts
  src/app/api/game/[gameId]/submission/[submissionId]/route.ts
  src/app/api/game/[gameId]/submission/analyze/route.ts
  src/app/api/game/[gameId]/submission/route.ts
  src/app/api/game/create/route.test.ts
  src/app/api/image/check/route.ts
  src/app/debug/image-upload/page.tsx
  src/app/game/[gameId]/hooks/useConfettiEffects.test.ts
  src/app/game/[gameId]/hooks/useConfettiEffects.ts
  src/app/game/[gameId]/hooks/useGameData.ts
  src/app/game/[gameId]/hooks/useImageSubmission.ts
  src/app/game/[gameId]/hooks/usePrevious.ts
  src/app/game/[gameId]/page.tsx
  src/app/game/create/page.tsx
  src/app/page.tsx
  src/components/game/ImageUpload.tsx
  src/components/magicui/confetti.tsx
  src/contexts/AuthContext.tsx
  src/lib/firebase/README.md
  src/lib/firebase/admin.test.ts
  src/services/image-upload.ts
  src/test/helpers/api-test-helpers.ts
  src/test/helpers/game-test-helpers.ts
  src/types/schema.ts
Due: check, test, i18n, build

refactor: :recycle: enhance game image submission and response handling
  repomix-output.xml
  src/app/api/game/[gameId]/route.test.ts
  src/app/api/image/check/route.ts
  src/app/game/[gameId]/components/ErrorDisplay.tsx
  src/app/game/[gameId]/hooks/useImageSubmission.ts
  src/app/game/[gameId]/page.tsx
  src/types/schema.ts
Due: check, test, i18n, build

feat: :+1: update dependencies
  package-lock.json
  package.json
Due: check, i18n

fix: :bug: set GOOGLE_CLOUD_STORAGE_BUCKET
  Dockerfile
  README.md
  cloudbuild.yaml
  package-lock.json
  package.json
Due: check, i18n

feat: :+1: update GEMINI_API_KEY
  .env.local.secret
  .gitsecret/paths/mapping.cfg
  pingo-456817-ddc416f0394a.json.secret
  pingo-456817-firebase-adminsdk-fbsvc-94b63a9da5.json.secret
Due: none

chore: :paperclip: update dependencies in package.json
  biome.json
  package-lock.json
  package.json
Due: check, i18n

feat: :+1: add project configuration and documentation files
  .claude/settings.local.json
  .gitignore
  .mcp.json
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  .vscode/settings.json
  CLAUDE.md
Due: check, i18n

docs: :notebook: update code style guidelines and project overview documentation
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  CLAUDE.md
Due: none

feat: :+1: update Google Cloud setup instructions in README
  README.md
Due: none

chore: :paperclip: Add project overview and technical specifications
  .claude/settings.local.json
  .clinerules
  .dockerignore
  .mcp.json
  .repomixignore
  .vscode/settings.json
  CLAUDE.md
  docs/Archived_20250514.md
  docs/Archived_20250610.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/assertion-api.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/commands.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/config.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/context.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/index.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/interactivity-api.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/locators.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/multiple-setups.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/playwright.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/webdriverio.md
  docs/DependentLibraryDocs/VitestBrowserMode_v20250601/why.md
  docs/FirstPlot.md
  docs/Progress.md
  docs/ProjectBrief.md
  docs/TechnicalSpecification.md
Due: check, i18n

feat: :+1: Add comprehensive project documentation
  .claude/settings.local.json
  .serena/.gitignore
  .serena/memories/codebase_structure.md
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  .vscode/settings.json
Due: check, i18n

docs: :notebook: Update documentation for codebase structure and conventions
  .serena/memories/codebase_structure.md
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
Due: none

chore: :paperclip: update dependencies
  biome.json
  package-lock.json
  package.json
Due: check, i18n

chore: :paperclip: update @faker-js/faker to version 10.0.0
  package-lock.json
  package.json
Due: check, i18n

feat: :+1: Update validation error handling and improve schemas
  .claude/settings.local.json
  package-lock.json
  package.json
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.ts
  src/app/api/game/[gameId]/events/route.ts
  src/app/api/game/[gameId]/playerBoard/[userId]/route.ts
  src/app/api/game/[gameId]/route.ts
  src/app/api/game/[gameId]/submission/[submissionId]/route.ts
  src/app/api/game/[gameId]/submission/analyze/route.ts
  src/app/api/game/[gameId]/submission/route.ts
  src/app/api/game/create/route.ts
  src/app/api/image/check/route.ts
  src/app/api/image/getUploadUrl/route.ts
  src/app/api/subjects/check/route.test.ts
  src/app/api/subjects/check/route.ts
  src/app/api/subjects/generate/route.test.ts
  src/app/api/subjects/generate/route.ts
  src/components/auth/RegisterForm.tsx
  src/components/layout/UserMenu.tsx
  src/components/ui/Form.stories.tsx
  src/types/schema.ts
Due: check, test, i18n, build

fix: :bug: Update package versions and add new WebFetch domain
  .claude/settings.local.json
  package-lock.json
  package.json
Due: check, i18n

chore: upgrade Storybook dependencies and update import paths
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/app/game/[gameId]/share/page.stories.tsx
  src/app/loading.stories.tsx
  src/components/auth/LoginForm.stories.tsx
  src/components/auth/RegisterForm.stories.tsx
  src/components/game/BingoBoard.stories.tsx
  src/components/game/BingoCell.stories.tsx
  src/components/game/GameInfo.stories.tsx
  src/components/game/ImageUpload.stories.tsx
  src/components/game/ParticipantsList.stories.tsx
  src/components/game/QRCodeCard.stories.tsx
  src/components/game/SubjectItem.stories.tsx
  src/components/game/SubjectList.stories.tsx
  src/components/game/SubmissionResult.stories.tsx
  src/components/layout/Footer.stories.tsx
  src/components/layout/Header.stories.tsx
  src/components/layout/LanguageSwitcher.stories.tsx
  src/components/layout/NotificationDrawer.stories.tsx
  src/components/layout/NotificationIcon.stories.tsx
  src/components/layout/UserMenu.stories.tsx
  src/components/magicui/AnimatedGridPattern.stories.tsx
  src/components/magicui/Confetti.stories.tsx
  src/components/magicui/ShineBorder.stories.tsx
  src/components/magicui/hyper-text.stories.tsx
  src/components/ui/Button.stories.tsx
  src/components/ui/Calendar.stories.tsx
  src/components/ui/Card.stories.tsx
  src/components/ui/Form.stories.tsx
  src/components/ui/Input.stories.tsx
  src/stories/example/Button.stories.ts
  src/stories/example/Configure.mdx
  src/stories/example/Header.stories.ts
  src/stories/example/LocalizedHeading.stories.tsx
  src/stories/example/Page.stories.ts
Due: check, test, i18n, build

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

feat: :+1: update next and next-intl dependencies to latest versions
  package-lock.json
  package.json
Due: check, i18n

fix: :bug: Replace prefault with default for boolean and integer fields
  src/app/api/subjects/generate/route.ts
  src/types/schema.ts
Due: check, test, i18n, build

chore: :paperclip: Update react-day-picker to version 9.10.0
  package-lock.json
  package.json
Due: check, i18n

chore: :paperclip: update settings and configurations
  .claude/settings.local.json
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/coding_conventions.md
  .serena/memories/current_status_priorities.md
  .serena/memories/task_completion_checklist.md
  .vscode/settings.json
  lefthook.yml
Due: check, i18n

chore: :paperclip: Update Storybook packages to version 9.1.6
  package-lock.json
  package.json
Due: check, i18n

chore: :paperclip: revise claude.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore: :paperclip: format JSON settings for better readability
  .vscode/settings.json
Due: check, i18n

feat: :+1: fetch game information for participating games in UserMenu
  lefthook.yml
  src/components/layout/UserMenu.browser.test.tsx
  src/components/layout/UserMenu.tsx
Due: check, test, i18n, build

feat: :+1: implement game joining functionality with validation and state management
  .vscode/settings.json
  messages/en.json
  messages/ja.json
  src/app/api/game/[gameId]/join/route.test.ts
  src/app/api/game/[gameId]/join/route.ts
  src/app/game/join/page.tsx
Due: check, test, i18n, build

feat: :+1: add public games fetching and participation status handling
  .vscode/settings.json
  src/app/api/game/public/route.ts
  src/app/game/[gameId]/components/JoinPrompt.tsx
  src/app/game/[gameId]/page.tsx
  src/app/game/join/page.tsx
  src/components/layout/UserMenu.tsx
  src/lib/firebase/admin-collections.ts
Due: check, test, i18n, build

refactor: :recycle: game participation handling
  .claude/settings.local.json
  .gitignore
  .serena/memories/codebase_structure.md
  docs/FirstPlot.md
  docs/Progress.md
  docs/TechnicalSpecification.md
  messages/en.json
  messages/ja.json
  src/app/api/game/[gameId]/events/route.test.ts
  src/app/api/game/[gameId]/join/route.test.ts
  src/app/api/game/[gameId]/join/route.ts
  src/app/api/game/[gameId]/playerBoard/[userId]/route.test.ts
  src/app/api/game/[gameId]/route.test.ts
  src/app/api/game/[gameId]/submission/[submissionId]/route.test.ts
  src/app/api/game/create/route.test.ts
  src/app/api/game/create/route.ts
  src/app/game/[gameId]/page.tsx
  src/app/game/join/page.tsx
  src/components/layout/UserMenu.tsx
  src/lib/firebase/admin-collections.ts
  src/test/helpers/game-test-helpers.ts
Due: check, test, i18n, build

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  i18n: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  build: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
