Repository shin-sforzando/pingo: changes, and which lefthook commands are due for each by the changed paths.
All: check, test

check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test:
  run: npm test

feat: :+1: add accessibility addon and enhance internationalization support
  .storybook/main.ts
  .storybook/preview.ts
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
Due: check, test

feat: :+1: add health check API endpoint for application status monitoring
  src/app/api/health/route.ts
  src/services/locale.ts
Due: check, test

feat: :+1: introduce shadcn/ui
  .vscode/settings.json
  cline_docs/TechnicalSpecification.md
  components.json
  package-lock.json
  package.json
  src/app/globals.css
  src/components/ui/Button.stories.tsx
  src/components/ui/button.tsx
  src/lib/utils.ts
Due: check, test

chore: 🤖 update lefthook configuration and add test:once script
  lefthook.yml
  package.json
Due: check

feat: :+1: add shadcn/ui components for Avatar, Drawer, Label, Popover, Separator and Skeleton
  package-lock.json
  package.json
  src/components/ui/avatar.tsx
  src/components/ui/drawer.tsx
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/components/ui/separator.tsx
  src/components/ui/skeleton.tsx
Due: check, test

feat: :+1: add Header, LanguageSwitcher, UserMenu, and NotificationDrawer components
  messages/en.json
  messages/ja.json
  src/app/layout.tsx
  src/app/page.test.tsx
  src/app/page.tsx
  src/components/layout/Header.stories.tsx
  src/components/layout/Header.tsx
  src/components/layout/LanguageSwitcher.stories.tsx
  src/components/layout/LanguageSwitcher.tsx
  src/components/layout/NotificationDrawer.stories.tsx
  src/components/layout/NotificationDrawer.tsx
  src/components/layout/UserMenu.stories.tsx
  src/components/layout/UserMenu.tsx
Due: check, test

feat: :+1: add tests for Header, LanguageSwitcher, NotificationDrawer, and UserMenu components
  .clinerules
  src/components/layout/Header.test.tsx
  src/components/layout/LanguageSwitcher.test.tsx
  src/components/layout/NotificationDrawer.test.tsx
  src/components/layout/UserMenu.test.tsx
  src/components/layout/UserMenu.tsx
Due: check, test

feat: :+1: update Progress and TechnicalSpecification docs
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  lefthook.yml
  messages/en.json
  messages/ja.json
Due: check

feat: :+1: add language support and update translations in components
  messages/en.json
  messages/ja.json
  src/components/layout/LanguageSwitcher.test.tsx
  src/components/layout/LanguageSwitcher.tsx
  src/components/layout/NotificationDrawer.test.tsx
  src/components/layout/NotificationDrawer.tsx
Due: check, test

docs: :notebook: update README with new sections for Lint & Format and i18n
  README.md
  package-lock.json
Due: check

feat: :sparkles: add nextjs configuration to Storybook preview
  .storybook/preview.ts
Due: check, test

chore: :paperclip: add i18n-ally configuration for locale management and paths
  .vscode/extensions.json
  .vscode/settings.json
Due: check

feat: :+1: update page component to use fragment instead of div
  .vscode/extensions.json
  src/app/page.tsx
Due: check, test

feat: :+1: add footer component
  .vscode/settings.json
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  messages/en.json
  messages/ja.json
  public/images/hacking-papa_512x512.png
  src/app/layout.tsx
  src/components/layout/Footer.stories.tsx
  src/components/layout/Footer.test.tsx
  src/components/layout/Footer.tsx
Due: check, test

feat: :+1: add AnimatedGridPattern and WarpBackground components
  .vscode/settings.json
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/magicui/AnimatedGridPattern.stories.tsx
  src/components/magicui/WarpBackground.stories.tsx
  src/components/magicui/animated-grid-pattern.tsx
  src/components/magicui/warp-background.tsx
Due: check, test

test: :100: update Vitest configuration to support both jsdom and browser
  package-lock.json
  src/app/api/health/route.test.ts
  src/app/layout.browser.test.tsx
  src/app/page.browser.test.tsx
  src/components/layout/Footer.browser.test.tsx
  src/components/layout/Header.browser.test.tsx
  src/components/layout/LanguageSwitcher.browser.test.tsx
  src/components/layout/NotificationDrawer.browser.test.tsx
  src/components/layout/UserMenu.browser.test.tsx
  vitest.config.mts
Due: check, test

style: :sparkles: prepare favicon
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/site.webmanifest
  public/images/pingo.svg
  public/images/pingo_512x512.png
  public/next.svg
Due: none

test: :100: add tests for locale service functions
  src/services/locale.test.ts
Due: check, test

refactor: :bulb: remove unused 'getStarted' key from locale files
  messages/en.json
  messages/ja.json
  src/app/page.browser.test.tsx
  src/app/page.tsx
  src/components/magicui/WarpBackground.stories.tsx
  src/components/magicui/warp-background.tsx
Due: check, test

style: :sparkles: add rule of useSortedClasses to biome.json
  biome.json
  package-lock.json
  package.json
  public/favicon/site.webmanifest
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/UserMenu.tsx
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/drawer.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/popover.tsx
  src/components/ui/separator.tsx
  src/components/ui/skeleton.tsx
Due: check, test

chore: :paperclip: update package dependencies and improve header component
  package-lock.json
  package.json
  src/app/globals.css
  src/components/layout/Header.browser.test.tsx
  src/components/layout/Header.tsx
  src/components/magicui/aurora-text.tsx
Due: check, test

refactor: :sparkles: remove AuroraText component and simplify header
  src/app/globals.css
  src/components/layout/Header.tsx
  src/components/magicui/aurora-text.tsx
Due: check, test

feat: :sparkles: add form and input components with validation schemas
  package.json
  src/components/ui/Card.stories.tsx
  src/components/ui/Form.stories.tsx
  src/components/ui/Input.stories.tsx
Due: check, test

feat: :+1: implement user authentication endpoints
  .env.local.secret
  .gitignore
  .gitsecret/paths/mapping.cfg
  messages/en.json
  messages/ja.json
  package-lock.json
  package.json
  pingo-456817-ddc416f0394a.json.secret
  pingo-456817-firebase-adminsdk-fbsvc-94b63a9da5.json.secret
  public/images/guest-avatar-placeholder.png
  src/app/api/auth/check-handle/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.ts
  src/app/layout.tsx
  src/components/auth/LoginForm.stories.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/RegisterForm.stories.tsx
  src/components/auth/RegisterForm.tsx
  src/components/layout/UserMenu.authenticated.browser.test.tsx
  src/components/layout/UserMenu.browser.test.tsx
  src/components/layout/UserMenu.tsx
  src/components/layout/UserMenu.unauthenticated.browser.test.tsx
  src/contexts/AuthContext.tsx
  src/lib/firebase/admin.ts
  src/lib/firebase/auth.ts
  src/lib/firebase/client.ts
Due: check, test

feat: :+1: add handle availability checks and improve error handling
  .vscode/settings.json
  src/app/api/auth/check-handle/route.test.ts
  src/app/api/auth/check-handle/route.ts
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/logout/route.test.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/register/route.test.ts
  src/app/api/auth/register/route.ts
  src/lib/firebase/admin.ts
Due: check, test

docs: :notebook: update Progress.md
  cline_docs/Progress.md
Due: none

feat: :+1: update dependencies
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
Due: check

feat: :+1: implement bcrypt for password hashing and verification
  cline_docs/Progress.md
  cline_docs/handle.code-search
  lefthook.yml
  package-lock.json
  package.json
  src/app/api/auth/check-handle/route.test.ts
  src/app/api/auth/check-handle/route.ts
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.test.ts
  src/app/api/auth/register/route.test.ts
  src/app/api/auth/register/route.ts
  src/components/ui/Form.stories.tsx
  src/lib/firebase/admin.ts
Due: check, test

feat: :+1: rename handle to username and update related functionality
  cline_docs/FirstPlot.md
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  messages/en.json
  messages/ja.json
  src/app/api/auth/check-username/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.ts
  src/components/auth/LoginForm.tsx
  src/components/auth/RegisterForm.tsx
  src/components/layout/UserMenu.authenticated.browser.test.tsx
  src/components/layout/UserMenu.tsx
  src/contexts/AuthContext.tsx
  src/lib/firebase/auth.ts
Due: check, test

feat: :+1: add terms of service notice to registration form and tests
  cline_docs/FirstPlot.md
  cline_docs/Progress.md
  messages/en.json
  messages/ja.json
  src/components/auth/RegisterForm.browser.test.tsx
  src/components/auth/RegisterForm.tsx
Due: check, test

feat: :+1: add user profile fetching API and enhance UserMenu component
  src/app/api/users/[userId]/route.ts
  src/components/layout/UserMenu.authenticated.browser.test.tsx
  src/components/layout/UserMenu.stories.tsx
  src/components/layout/UserMenu.tsx
Due: check, test

feat: :+1: add error handling and translation for authentication messages
  .vscode/settings.json
  cline_docs/Progress.md
  messages/en.json
  messages/ja.json
  src/components/auth/FormSwitching.browser.test.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/RegisterForm.tsx
  src/contexts/AuthContext.tsx
Due: check, test

feat: :+1: implement authentication-based display logic in Header component
  cline_docs/Progress.md
  src/components/layout/Header.authenticated.browser.test.tsx
  src/components/layout/Header.browser.test.tsx
  src/components/layout/Header.tsx
  src/components/layout/Header.unauthenticated.browser.test.tsx
Due: check, test

feat: :+1: add username validation and error handling across auth forms
  cline_docs/Progress.md
  messages/en.json
  src/app/api/auth/check-username/route.test.ts
  src/app/api/auth/check-username/route.ts
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.test.ts
  src/app/api/auth/register/route.ts
  src/components/auth/LoginForm.browser.test.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/RegisterForm.tsx
Due: check, test

feat: :+1: implement homepage with authentication logic and multilingual support
  cline_docs/Progress.md
  messages/en.json
  messages/ja.json
  src/app/layout.tsx
  src/app/page.browser.test.tsx
  src/app/page.stories.tsx
  src/app/page.tsx
Due: check, test

feat: :+1: adjust layout class order for consistency and readability
  src/app/layout.tsx
  src/app/page.tsx
Due: check, test

feat: :+1: update dependencies
  package-lock.json
  package.json
Due: check

feat: :+1: add user schema and timestamp helpers with tests for validation
  .clinerules
  cline_docs/TechnicalSpecification.md
  src/models/Timestamp.test.ts
  src/models/Timestamp.ts
  src/models/User.test.ts
  src/models/User.ts
Due: check, test

feat: :+1: validate usernames with Zod schema and improve user data handling
  src/app/api/auth/check-username/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/update/route.ts
  src/app/api/users/[userId]/route.ts
  src/components/auth/LoginForm.tsx
  src/components/auth/RegisterForm.tsx
  src/components/layout/UserMenu.tsx
  src/contexts/AuthContext.tsx
Due: check, test

docs: :notebook: update memory bank
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
