Repository shin-sforzando/pingo: changes, and which lefthook commands are due for each by the changed paths.
All: check, test

check:
  run: npx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test:
  run: npm test

fix: :bug: update Image import to use legacy version
  src/app/page.tsx
Due: check, test

feat: :+1: update Storybook configuration and add HomePage stories
  .storybook/preview.ts
  .vscode/settings.json
  package.json
  src/app/page.tsx
  src/stories/HomePage.stories.tsx
  src/stories/example/Button.stories.ts
  src/stories/example/Configure.mdx
  src/stories/example/Header.stories.ts
  src/stories/example/Page.stories.ts
  vitest.workspace.ts
Due: check, test

wip: :construction: update documentation and add game rules in plot.md
  .clinerules
  .vscode/settings.json
  README.md
  plot.md
Due: check

docs: :notebook: complete the first edition of plot.md
  .clinerules
  plot.md
Due: none

docs: :notebook: freeze primary specifications based on first edition of plot.md
  plot.md
Due: none

docs: :notebook: update documents
  .clinerules
  cline_docs/FirstPlot.md
  cline_docs/Progress.md
  cline_docs/ProjectBrief.md
  cline_docs/TechnicalSpecification.md
  cline_docs/issues.md
Due: none

docs: :notebook: update next steps and remaining tasks
  cline_docs/Progress.md
Due: none

refactor: :bulb: code structure for improved readability and maintainability
  .dockerignore
  .vscode/settings.json
  cline_docs/issues.md
Due: check

docs: :notebook: update Cline's rules and memory bank structure for clarity
  .clinerules
Due: none

chore: :package: add Lefthook local configuration to .gitignore
  .gitignore
Due: none

docs: :notebook: update documents
  .vscode/settings.json
  README.md
  biome.json
  cline_docs/ProjectBrief.md
  cline_docs/TechnicalSpecification.md
  lefthook.yml
Due: check

docs: :notebook: revise data model
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
Due: check

wip: :construction: make the primary definition of the data model using Zod
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
  src/lib/msw/handlers.ts
  src/lib/utils/firestore.ts
  src/lib/validators/common.ts
  src/lib/validators/models/game.ts
  src/lib/validators/models/gameParticipation.ts
  src/lib/validators/models/user.ts
Due: check, test

feat: :+1: implement user API handlers with mock data and validation schemas
  .storybook/preview.ts
  .vscode/settings.json
  src/lib/msw/browser.ts
  src/lib/msw/handlers.ts
  src/lib/msw/handlers/auth.ts
  src/lib/msw/handlers/game.ts
  src/lib/msw/handlers/image.ts
  src/lib/msw/handlers/userApi.ts
  src/lib/msw/node.ts
  src/lib/validators/common.test.ts
  src/lib/validators/models/game.test.ts
  src/lib/validators/models/game.ts
  src/lib/validators/models/gameParticipation.test.ts
  src/lib/validators/models/gameParticipation.ts
  src/lib/validators/models/user.test.ts
  src/lib/validators/models/user.ts
  src/stories/HomePage.stories.tsx
Due: check, test

feat: :+1: add MSW integration for user profile and authentication tests
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  src/lib/msw/handlers/auth.test.ts
  src/lib/msw/handlers/auth.ts
  src/lib/msw/handlers/game.ts
  src/lib/msw/handlers/image.ts
  src/lib/msw/handlers/userApi.test.ts
  src/lib/msw/handlers/userApi.ts
  src/lib/validators/models/gameParticipation.test.ts
  src/stories/example/UserProfile.stories.tsx
  src/stories/example/UserProfile.tsx
  src/vitest.setup.ts
  vitest.config.mts
Due: check, test

refactor: 💡 simplify timestamp conversion functions and schemas
  src/lib/utils/firestore.ts
  src/lib/validators/common.ts
Due: check, test

test: :white_check_mark: add Firestore utility tests for timestamp handling
  src/lib/utils/firestore.test.ts
Due: check, test

refactor: 💡 unify import statements for consistency in tests
  src/app/layout.test.tsx
  src/app/page.test.tsx
  vitest.config.mts
Due: check, test

feat: :+1: add ulid dependency and update mock data in user API handlers
  package-lock.json
  package.json
  src/lib/msw/handlers/image.ts
  src/lib/msw/handlers/userApi.test.ts
  src/lib/msw/handlers/userApi.ts
Due: check, test

refactor: 💡 update user profile to user settings and enhance validation
  src/lib/msw/handlers/auth.test.ts
  src/lib/msw/handlers/auth.ts
  src/lib/msw/handlers/userApi.test.ts
  src/lib/msw/handlers/userApi.ts
  src/lib/validators/common.ts
  src/lib/validators/models/user.test.ts
  src/lib/validators/models/user.ts
Due: check, test

refactor: 💡 update user settings and remove dark theme references
  cline_docs/TechnicalSpecification.md
  src/lib/msw/handlers/auth.test.ts
  src/lib/msw/handlers/auth.ts
  src/lib/msw/handlers/game.ts
  src/lib/msw/handlers/userApi.test.ts
  src/lib/msw/handlers/userApi.ts
  src/lib/validators/models/user.test.ts
  src/lib/validators/models/user.ts
  src/stories/example/UserInfo.stories.tsx
  src/stories/example/UserInfo.tsx
Due: check, test

refactor: 💡 improve handle uniqueness check and simplify user registration logic
  src/lib/msw/handlers/auth.ts
Due: check, test

feat: :+1: add game and image handlers tests with mock data initialization
  src/lib/msw/handlers/game.test.ts
  src/lib/msw/handlers/game.ts
  src/lib/msw/handlers/image.test.ts
  vitest.config.mts
Due: check, test

refactor: 💡 update package.json and README for improved clarity and dependencies
  README.md
  package-lock.json
  package.json
Due: check

refactor: :bulb: remove obsolete test files for game, image, and user APIs
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/layout.test.tsx
  src/app/layout.tsx
  src/lib/msw/handlers/auth.test.ts
  src/lib/msw/handlers/game.test.ts
  src/lib/msw/handlers/image.test.ts
  src/lib/msw/handlers/userApi.test.ts
  src/vitest.setup.ts
  vitest.config.mts
  vitest.workspace.ts
Due: check, test

refactor: :bulb: update import paths in test files for consistency and clarity
  package-lock.json
  src/app/page.test.tsx
  src/lib/utils/firestore.test.ts
  src/lib/validators/common.test.ts
  src/lib/validators/models/game.test.ts
  src/lib/validators/models/gameParticipation.test.ts
  src/lib/validators/models/user.test.ts
  src/vitest.setup.ts
Due: check, test

refactor: :bulb: go back to the simplicity of what it was before Storybook was introduced
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  cline_docs/FirstPlot.md
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  package-lock.json
  package.json
  src/app/layout.test.tsx
  src/app/layout.tsx
  src/app/page.test.tsx
  src/stories/HomePage.stories.tsx
  src/stories/example/Button.stories.ts
  src/stories/example/Button.tsx
  src/stories/example/Configure.mdx
  src/stories/example/Header.stories.ts
  src/stories/example/Header.tsx
  src/stories/example/Page.stories.ts
  src/stories/example/Page.tsx
  src/stories/example/assets/accessibility.png
  src/stories/example/assets/accessibility.svg
  src/stories/example/assets/addon-library.png
  src/stories/example/assets/assets.png
  src/stories/example/assets/avif-test-image.avif
  src/stories/example/assets/context.png
  src/stories/example/assets/discord.svg
  src/stories/example/assets/docs.png
  src/stories/example/assets/figma-plugin.png
  src/stories/example/assets/github.svg
  src/stories/example/assets/share.png
  src/stories/example/assets/styling.png
  src/stories/example/assets/testing.png
  src/stories/example/assets/theming.png
  src/stories/example/assets/tutorials.svg
  src/stories/example/assets/youtube.svg
  src/stories/example/button.css
  src/stories/example/header.css
  src/stories/example/page.css
  vitest.config.mts
  vitest.workspace.ts
Due: check, test

fix: :bug: restore headless option comment in Vitest configuration
  package.json
  vitest.config.mts
Due: check

feat: :+1: reinstall Storybook to enable Vitest browser mode
  .storybook/main.ts
  .storybook/preview.ts
  lefthook.yml
  package-lock.json
  package.json
  src/app/layout.test.tsx
  src/app/page.test.tsx
  src/stories/example/Button.stories.ts
  src/stories/example/Button.tsx
  src/stories/example/Configure.mdx
  src/stories/example/Header.stories.ts
  src/stories/example/Header.tsx
  src/stories/example/Page.stories.ts
  src/stories/example/Page.tsx
  src/stories/example/assets/accessibility.png
  src/stories/example/assets/accessibility.svg
  src/stories/example/assets/addon-library.png
  src/stories/example/assets/assets.png
  src/stories/example/assets/avif-test-image.avif
  src/stories/example/assets/context.png
  src/stories/example/assets/discord.svg
  src/stories/example/assets/docs.png
  src/stories/example/assets/figma-plugin.png
  src/stories/example/assets/github.svg
  src/stories/example/assets/share.png
  src/stories/example/assets/styling.png
  src/stories/example/assets/testing.png
  src/stories/example/assets/theming.png
  src/stories/example/assets/tutorials.svg
  src/stories/example/assets/youtube.svg
  src/stories/example/button.css
  src/stories/example/header.css
  src/stories/example/page.css
  vitest.config.mts
Due: check, test

docs: ✏️ update technical specifications and remove unused depen
  cline_docs/FirstPlot.md
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
Due: none

feat: :+1: implement internationalization with language switcher and translations
  .storybook/preview.ts
  .storybook/preview.tsx
  cline_docs/FirstPlot.md
  cline_docs/TechnicalSpecification.md
  package.json
  src/app/layout.tsx
  src/app/page.test.tsx
  src/app/page.tsx
  src/components/LanguageSwitcher.stories.tsx
  src/components/LanguageSwitcher.tsx
  src/components/TranslatedText.stories.tsx
  src/components/TranslatedText.tsx
  src/i18n/LocaleContext.tsx
  src/i18n/config.ts
  src/i18n/locales/en.json
  src/i18n/locales/ja.json
  src/i18n/useTranslation.ts
  vitest.config.mts
Due: check, test

fix: :bug: LocaleProvider to update locale on toolbar changes
  .storybook/preview.tsx
  cline_docs/Progress.md
  cline_docs/TechnicalSpecification.md
  package.json
  src/components/TranslatedText.stories.tsx
  src/stories/example/Button.stories.ts
  src/stories/example/Header.stories.ts
  src/stories/example/Page.stories.ts
Due: check, test

fix: :bug: update Image import to use legacy version for compatibility
  src/app/page.tsx
Due: check, test

fix: :bug: revert Image import to use standard version for compatibility
  src/app/page.tsx
Due: check, test

feat: :+1: add internationalization support with language switcher and translations
  src/app/page.test.tsx
  src/stories/example/SampleTranslatedText.stories.tsx
  src/stories/example/SampleTranslatedText.tsx
Due: check, test

feat: :+1: add locale management to SampleTranslatedText stories
  .storybook/preview.tsx
  src/stories/example/SampleTranslatedText.stories.tsx
Due: check, test

fix: :bug: correct file extension pattern for Storybook stories exclusion
  vitest.config.mts
Due: none

feat: :+1: add next-intl for localization support in the app
  .clinerules
  .storybook/main.ts
  .storybook/next-intl.ts
  .storybook/preview.ts
  messages/en.json
  messages/ja.json
  next.config.ts
  package-lock.json
  package.json
  src/app/layout.test.tsx
  src/app/layout.tsx
  src/app/page.test.tsx
  src/app/page.tsx
  src/i18n/request.ts
  src/stories/example/LocalizedHeading.stories.tsx
  src/stories/example/LocalizedHeading.tsx
Due: check, test

feat: :+1: add internationalization support and locale management
  Dockerfile
  next.config.ts
  package-lock.json
  package.json
  src/app/layout.test.tsx
  src/app/page.test.tsx
  src/i18n/config.ts
  src/i18n/request.ts
  src/services/locale.ts
Due: check, test

fix: :bug: update locale cookie usage and exclude i18n config from coverage
  src/services/locale.ts
  vitest.config.mts
Due: check, test

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
